@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color-scheme: dark;
  scrollbar-width: none;
}

body {
  background-color: #04152d;
  font-family: "Inter", system-ui;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
button {
  border: none;
}
.container {
  width: 100%;
  max-width: 1320px;
  margin-inline: auto;
  padding: 0 20px;
}
