.FavoritesList {
  padding-top: 100px;
  @media screen and (max-width: 900px) {
    padding-top: 70px;
  }
  .content {
    .favorite {
      h2 {
        padding: 10px 0;
        font-size: 25px;
        font-weight: 400;
      }
    }
    .list {
      margin-top: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 0 20px;
      .movie {
        width: clamp(150px, 18vw, 240px);
        height: clamp(270px, 43vw, 440px);
      }
    }
  }
}

.nothing {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: rgba(5, 184, 59, 0.305);
  gap: 10px;
  h1 {
    font-size: clamp(21px, 4vw, 33px);
  }
  a {
    text-decoration: underline;
    font-size: clamp(12px, 3vw, 21px);
  }
  button {
    border: none;
    background-image: linear-gradient(
      -30.65deg,
      rgb(24, 67, 186),
      rgb(43, 215, 77)
    );
    padding: 8px 10px;
    border-radius: 5px;
  }
}
