.is_loading {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1px 0;
  .image,
  p {
    border-radius: 5px;
    background: linear-gradient(
      90deg,
      rgb(24, 67, 186) 0%,
      rgba(128, 128, 128, 0) 25%,
      rgba(2, 21, 148, 0.743) 50%,
      rgba(128, 128, 128, 0) 75%,
      rgb(24, 67, 186) 100%
    );
    background-size: 200% 100%;
    animation: 3s shine linear infinite;
  }

  .image {
    width: clamp(170px, 18vw, 240px);
    height: clamp(250px, 33vw, 340px);
  }

  p {
    width: clamp(170px, 18vw, 240px);
    height: 40px;
  }
}

@keyframes shine {
  to {
    background-position-x: -180%;
  }
}
